

$logo-gray: #333333;
$body-text: #757575;
$or-gray: #9e9e9e;
$search-prefill-gray: #E2E2E2;

$button-green: #40D9AC;
$selected-button-background: #F2FCFB;

$banner-purple: #41315C;

$light-background: #F9F9F9;

$border-gray: #EBEBEB;
$background-gray: #FDFDFD;
