.login-container {
  margin: 150px auto 50px;
  width: 342px;
}

.login-container .modal-footer{
  background-color: #fff;
  border-top: 1px solid $border-gray;
  padding-top: 25px;
  margin-top: 8px;
}